body{
	font-family: 'Roboto', sans-serif;
	background-color: #FAFAFA;
}
.container-my{
	max-width: 1260px;
}
h1,h2,h3,h4,h5,h6{
	font-style: normal;
	font-weight: 600;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
input,button{
	outline: none !important;
}
a:active, a:focus { outline: none; }

input, textarea,select {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}
.btn:focus {
     outline: 0; 
     box-shadow:none; 
}
.header{
	position: relative;
	z-index: 1;
	padding-top: 56px;
	padding-bottom: 180px;
	/*background:url('../img/hdbg.jpg') no-repeat bottom center /cover;*/
	background:#787876;
}
.nav-link-item{
	font-weight: 300;
	font-size: 18px;
	color: #FFFFFF;
	text-transform: uppercase; 
	text-decoration: none;
}
.nav-link-item:hover{
	color: #e7e7e7;
}
input{
	border: 10px solid black;
}
.collapsed>.item{
	transform: rotateX(90deg);
}
.header>.nav{
	margin-bottom: 40px;
}
.head-btn{
	background: none;
	border: 1px solid rgba(0,0,0,0);
	color: #fff;
	font-weight: 300;
	font-size: 18px;
	padding: 8px 26px;
}
.head-btn a{
	color: #fff;
	text-decoration: none;
}
.head-btn:hover{
	border: 1px solid #fff;
}
.title{
	font-family: Roboto;
	font-size: 56px;
	color: #fff;
	margin-top: 100px;
	margin-bottom: 88px;
}
.head_btn{
	display: flex;
	justify-content: center;

}
.count_input,.count{
	height: 72px;
	border: none;
}
.rus{
	width: 80px;
	display: flex;
	flex-direction: column;
	margin-right: 10px;
}
.rus_flag{
	display: flex;
	-ms-align-items: flex-start;
	align-items: flex-start;
	justify-content: center;
}
.center_flag{
	width: 52px;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-around;
}
.rus_text{

	margin: 0;
	padding: 0;
	font-weight: 600;
	font-size: 14px;
}
.car_checker{
	position: relative;
}
.car_marks{
	position: absolute;
	bottom: -200px;
	width: 100%;
	height: 200px;
	overflow:auto;
	background: #fff;
}
.car_list{
	position: absolute;
	bottom: -200px;
	width: 100%;
	height: 200px;
	overflow:auto;
	background: #fff;

}
.car_mark_items{
	padding: 5px;
	font-size: 16px;
	font-weight: 600;
}
.car_mark_items:hover{
	cursor: pointer;
}
.rus_img{
	width: 17px;
	height: 11px;
}
.count_input{
	text-align: center;
	font-size: 52px;
	border-radius: 20px 0px 0px 20px;
}
.rus_inp{
	text-align: center;
	width: 100%;
	border-radius: 0;
	height: 50%;
	font-size: 30px;
}
.rus_flag{
	width: 100%;
	background-color: #fff;
	height: 32%;
}
.count{
	color: #fff;
	background-color: #536CB8;
	font-size: 18px;
	border-radius: 0px 20px 20px 0px;
	margin-bottom: 16px;
}
.count_number{
	color:#1877F2;
	height: 40px;
	background-color: #fff;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.count_number:hover{
	cursor: pointer;
	text-decoration: underline;
}
/*Clalc*/
.calc{
	width: 100%;
}
.calc_wrapper{
	position: relative;
	z-index: 9999 !important;
	width: 100%;
	padding: 30px;
	padding-top: 10px;
	background-color: #fff;
	box-shadow: 0px 0px 24px rgba(5, 53, 81, 0.11);
	border-radius: 24px;
}
.calc_l{
	margin-top: -200px;
	margin: 0 auto;
}
.navigation{
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
	margin-top: 40px;
	display: flex;

}
.navigation_li{

	margin-right: 5px;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	color: #B7B7B7;
}
.navigation_li:hover{
	color:#4078CD;
	cursor: pointer;
}
.navigation_li:hover span{
	color: #000;
}
.navigation_li span{
	margin-left: 5px;
}


.calc_avto{
	display: flex;
	justify-content: space-between;
}
.calc_select{
	height: 40px;
	border-radius: 16px;
	border: 1px solid black;
	padding: 10px;
	background-color: #F9F9F9;

}
.sity_wrap{
	position: relative;
	padding: 20px;
	padding-top: 5px;
	display: flex;
	justify-content: space-between;
}
.sity_wrap::after{
	position: absolute;
	content: 'Город регистрации собственника по паспорту';
	color: #B7B7B7;
	font-size: 14px;
	top: -15px;
}
.sec{
	display: none;
}
.is_used{
	display: block;
}
.navigation_li.is_used{
	color: #4078CD;
	text-decoration: underline;
}
.sity{
	min-width: 43.9%;
	background: #F9F9F9;
	border-radius: 16px;
	height: 40px;
	border: 1px solid black;
	
}
.disable{
	width: 45%;
	font-weight: 400;
	font-size: 14px;
	color: #B7B7B7;
}
.form_next{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin-top: 40px;
}
.form_btn{
	width: 274px;
	height: 48px;
	background: #4078CD;
	border-radius: 40px;
	color: #fff;
	border: none;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.back_btn{
	margin-right: 20px;
	background-color: #fff;
	border: 1px solid #4078CD !important;
	color: #4078CD !important;
}
.back_btn:hover{
	background: #F7941D ; 
	cursor: pointer;
	color: #fff !important;
	border: none!important;
}
.form_btn:hover{
	background: #F7941D;
	cursor: pointer;
	color: #fff;
	border: none;
}
.sity.one{
	width: 104%;
}
.dates{
	margin-top: -26px;
	position: relative;
	display: flex;
	justify-content: space-between;
}
.date{
	width: 34%;
}
.dates>span{
	width: 49%;
	display: flex;
	flex-direction: column;
}
.dates.none:before{
	position: absolute;
	height: 40px;
	bottom: -40px;
	width: 100%;
	display: block;
	content: 'Заполните это поле.';
	border: 1px solid black;
	background: #fff;
}
.none{
	border: 1px solid red;
}
.checkbox{
	margin: 0;
	position: relative;
	width: 56px;
	height: 28px;
	border: 1px solid black;
	display: flex;
	padding: 3px;
	-ms-align-items: center;
	align-items: center;
	border-radius: 30px;
	border: 1px solid #4078CD ;
	background-color: #4078CD;
}
.checkbox:after{
	content: '';
	display: block;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: #fff;

}
.checker{
	padding: 0;
	width: 40%;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.checkbox.is_active{
	justify-content: flex-end;

}
.mult{
	font-weight: 500;
	font-size: 18px;
	color: #4078CD;
}
.list{
	font-weight: 500;
	font-size: 18px;
	color: #B7B7B7;
}
.fio{
	margin-top: 24px;
	width: 32%;

}
.pass{
	height: 40px;
}
.with_label{
	display: flex;
	flex-direction: column;
	font-size: 14px;
	line-height: 16px;
	color: #B7B7B7;
}
.input_active{
	border-bottom: 1px solid #5788D3;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.clear{
	display: flex !important;
	justify-content: flex-end;
	-ms-align-items: center;
	padding-top: 20px;
	align-items: center;
}

.clear_0{
	display: flex;
	justify-content:flex-end;
	-ms-align-items: center;
	align-items: center;
	padding-top: 20px;
	width: 20%;
}
.clear_7{
	justify-content: center !important;
}
.clear_btn_1{
	width: 80px;
	height: 48px;
	background: none;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	border-radius: 32px;
	display: flex;
}
.clear_btn_1:hover{
	cursor: pointer;
}
.clear_btn_1.blue{
	border: 1px solid #4078CD;
}
.clear_btn_1.red{
	display: none;
	border: 1px solid #F7941D;
	margin-right: 10px;
}
.red_img{
	display: flex !important;

}
.n_1{
	width: 100%;	
}
.w80{
	width: 80%;
}
.blocked{
	display: none;
}
.active{
	display: flex;
}
input::-webkit-datetime-edit-fields-wrapper{color:gray}

/*INFORMATION*/
.information{
	margin-top: -40px;
	display: block;
	width: 100%;
	padding-top: 130px;
	height: 950px;
	background:url('../img/cloud.svg') no-repeat center bottom /cover ;
}
.info_head{
	font-size: 48px;
	letter-spacing: 0.07em;
}
.inform_item{
	width: 80%;
	text-align: center;
	margin-top: 64px !important;
}
.inform_title{
	font-size: 72px;
	color: #CBE0FF;
}
.inform_text{
	font-weight: 300;
	font-size: 18px;
}
.info-img{
	padding-top: 50px;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.cash_wrapper{
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.line{
	width: 1px;
	height: 200px;
	background-color: #4078CD;
	display: inline-block;
}
.cash_title{
	font-weight: 900;
	font-size: 139px;
	color: #4078CD;
}
.cash_text{
	font-size: 18px;
	color: #4078CD;
}
.cash_btn{
	width: 309px;
	height: 56px;
	border: 1px solid #4078CD;
	background: none;
	color: #4078CD;
	border-radius:30px;
	font-weight: 500;
	font-size: 18px;
}
.cash_title{
	margin-top: -20px;
}
/*servise*/
.servise{
	margin-top: 50px;
	z-index: 1;
	background:url('../img/full_cloud.svg') no-repeat center bottom /cover ;
	height: 1000px;
	display: flex;
	-ms-align-items: center;
	align-items: center;

}
.servise_items{
	height: 144px;
	border-radius: 24px;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	width: 95%;
	margin: 0 auto;

	font-weight: bold;
	font-size: 23px;
	line-height: 32px;
	color: #fff;

	transition: .5s;
}
.servise_cont{
	margin: 0;
}
.servise_items1{
	background:url('../img/servise_item1.jpg') no-repeat center center /cover
}
.servise_items2{
	background:url('../img/servise_item1.jpg') no-repeat center center /cover
}
.servise_items3{
	background:url('../img/servise_item1.jpg') no-repeat center center /cover
}
.servise_items:hover{
	background: #4078CD;
	cursor: pointer;
}
.servise_question{
	text-align: center;
}
.servise_question_title{
	font-weight: bold;
	font-size: 48px;
	margin-bottom:  51px;
	margin-top: 96px;

}
.question{
	width: 100%;
	border-top:1px solid  #EDEDED;
	border-bottom:1px solid  #EDEDED;
	padding: 16px;
}
.question2{
	border-top: none;
}

.card-header{
	background: none;
}
.card{
	border-left: none;
	border-right: none;
}
.card_m{
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.end_offer{
	margin-top: 56px;
	height: 570px;

	background:url('../img/footer.jpg') no-repeat bottom center /cover;
}
.collection{
	background-color: #fff;
}
.collection_items{
	display: flex;
	justify-content: space-between;
}
/*footer*/
.footer{
	display: flex;
	align-items: center;
	padding-top: 80px;
	background:url('../img/footer_bg.svg') no-repeat center top /cover ;

}
.contacts{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.navigation{
	width: 100%;
}
.footer_menu{
	width: 100%;
	padding: 0;
	margin: 0;
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}
.footer_menu a{
	color: #fff;
	font-weight: 300;
	font-size: 18px;
}
.hr{
	width: 100%;
}
.active_users{
	display: none;
}
.one{
	width: 100%;
	position: relative;
}
.one:after{
	position: absolute;
	left: 0;
	top: -16px;
	color: #000;
	border: 1px solid red;
	z-index: 9999;
	display: block;
	height: 50px;
}